body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/bg.png);
    margin: 0;
    padding: 0;
    padding-bottom: 32px;
    color: #262626;
}

.top {
    background: url(../img/top.png);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
    height: 32px;

    margin: 0;
    padding: 4px;

    text-align: center;
    line-height: 32px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.main {
    position: relative;
    background: url(../img/bg2.png);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
    margin: 0 auto;
    padding: 16px;
    width: 800px;
    min-height: 600px;
}

.clear {
    clear: both;
}

.gameDesc {
    font-size: 20px;
}

.round {
    float: left;
}

.round {
    padding-left: 24px;
}

.round .roundNum span {
    font-weight: bold;
    color: green;
}

.main .players {
    color: #aaa;
}

.inactive {
    opacity: 0.6;
}


.players {
    margin-left: 32px;
    line-height: 24px;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.players tr:nth-child(3) td {
    border-bottom: 1px solid #29853A;
}

.players tr.inactive:first-child {
    opacity: 0.8;
}

.players td {
    padding: 0 12px;
}

.playerPos, .playerMoves {
    color: #6B6B6B;
}

.playerScore {
    color: #382CE8;
    font-weight: bold;
}

.playerName {
    font-weight: bold;
    color: #454545;
}

.notif {
    float: right;
    font-weight: bold;
}

.info {
    color: green;
}

.error {
    color: red;
}

.hero-left {
    background: url('../img/hero-left.png');
    position: absolute;
    left: -260px;
    top: 150px;
    width: 229px;
    height: 505px;
}

.hero-right {
    background: url('../img/hero-right.png');
    position: absolute;
    right: -280px;
    top: 120px;
    width: 255px;
    height: 525px;
}

.stx-logo {
    background: url('../img/stx.png');
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    width: 240px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}
